body {
  background-color: #f9f9f9;
  font-family: Poppins, sans-serif;
}

.header {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #fff7f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.header .navigation {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .navigation .logo {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-left: 11.7%;
  opacity: 1;
}
.header .navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 8.5%;
  opacity: 1;
}
.header .navigation ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
  opacity: 1;
}
.header .navigation ul li a:hover {
  color: #f09a70;
}

.hero-section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff7f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gutter);
  width: calc(100% - 2 * var(--offset));
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.hero-section .container .content {
  grid-column: 1/6;
  max-width: 500px;
  text-align: left;
  z-index: 2;
}
.hero-section .container .content .content-headertext {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #E3CDB1;
}
.hero-section .container .content .content-header {
  font-family: Playfair Display;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}
.hero-section .container .content .content-text {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  padding: 24px 0px;
  color: #5E5B69;
}
.hero-section .container .content .see-more-btn {
  border: 1px solid #E3CDB1;
  color: #E3CDB1;
  background-color: #fff;
  width: 250px;
  height: 52px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s;
}
.hero-section .container .content .see-more-btn:hover {
  background-color: #E3CDB1;
  color: #fff;
}

.magazine-section {
  position: relative;
  width: 1600px;
  height: 766px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magazine-section .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 670px;
  background-color: #F7F1EB;
  z-index: -1;
}
.magazine-section .magazine-text {
  width: 552px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 40px;
}
.magazine-section .magazine-text .announcement-time {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #E3CDB1;
  margin-bottom: 8px;
}
.magazine-section .magazine-text .title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
  margin-bottom: 16px;
}
.magazine-section .magazine-text .description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #5E5B69;
  margin-bottom: 24px;
}
.magazine-section .magazine-text .see-more-btn {
  border: 1px solid #E3CDB1;
  color: #E3CDB1;
  background-color: #fff;
  width: 250px;
  height: 52px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s;
}
.magazine-section .magazine-text .see-more-btn:hover {
  background-color: #E3CDB1;
  color: #fff;
}
.magazine-section .magazine {
  width: 471px;
  height: 626px;
  position: relative;
  margin-left: 40px;
}
.magazine-section .magazine .magazine-image {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
}

.hero-section-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 1034px;
  height: 1336px;
  top: -20px;
  left: 698px;
  gap: 0px;
  opacity: 1;
  z-index: 0;
}
.hero-section-img img {
  background: rgba(0, 0, 0, 0);
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  width: 889.76px;
}

@media (max-width: 768px) {
  .header .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .header .container .content {
    grid-column: 1/-1;
  }
  .header .hero-section-img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 20px;
    z-index: 0;
  }
  .header .navigation {
    top: 10px;
    right: 10px;
  }
}

/*# sourceMappingURL=bgheader.css.map */
