/* Playfair variable fonts */
 
@font-face {
    font-family: "Playfair Display";
    font-weight: 100 900;
    font-style: normal;
    src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 100 900;
    font-style: italic;
    src: url("./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf")
}

/* Playfair static fonts */

@font-face {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/PlayfairDisplay-Regular.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: italic;
    src: url("./fonts/PlayfairDisplay-Italic.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/PlayfairDisplay-Medium.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 500;
    font-style: italic;
    src: url("./fonts/PlayfairDisplay-MediumItalic.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/PlayfairDisplay-SemiBold.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 600;
    font-style: italic;
    src: url("./fonts/PlayfairDisplay-SemiBoldItalic.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/PlayfairDisplay-Bold.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: italic;
    src: url("./fonts/PlayfairDisplay-BoldItalic.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/PlayfairDisplay-ExtraBold.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 800;
    font-style: italic;
    src: url("./fonts/PlayfairDisplay-ExtraBoldItalic.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 900;
    font-style: normal;
    src: url("./fonts/PlayfairDisplay-Black.ttf")
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 900;
    font-style: italic;
    src: url("./fonts/PlayfairDisplay-BlackItalic.ttf")
}

/* Poppins fonts */

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: normal;
    src: url("./fonts/Poppins-Thin.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: italic;
    src: url("./fonts/Poppins-ThinItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    src: url("./fonts/Poppins-ExtraLight.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: italic;
    src: url("./fonts/Poppins-ExtraLightItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    src: url("./fonts/Poppins-Light.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: italic;
    src: url("./fonts/Poppins-LightItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/Poppins-Regular.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("./fonts/Poppins-RegularItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Poppins-Medium.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    src: url("./fonts/Poppins-MediumItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/Poppins-SemiBold.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: italic;
    src: url("./fonts/Poppins-SemiBoldItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/Poppins-Bold.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: italic;
    src: url("./fonts/Poppins-BoldItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/Poppins-ExtraBold.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    src: url("./fonts/Poppins-ExtraBoldItalic.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: normal;
    src: url("./fonts/Poppins-Black.ttf");
}
  
@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
    src: url("./fonts/Poppins-BlackItalic.ttf");
}