/* Playfair variable fonts */
@font-face {
  font-family: "Playfair Display";
  font-weight: 100 900;
  font-style: normal;
  src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 100 900;
  font-style: italic;
  src: url("./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
}
/* Playfair static fonts */
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/PlayfairDisplay-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/PlayfairDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/PlayfairDisplay-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/PlayfairDisplay-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 800;
  font-style: normal;
  src: url("./fonts/fonts/PlayfairDisplay-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 800;
  font-style: italic;
  src: url("./fonts/fonts/PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  font-style: normal;
  src: url("./fonts/fonts/PlayfairDisplay-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  font-style: italic;
  src: url("./fonts/fonts/PlayfairDisplay-BlackItalic.ttf") format("truetype");
}
/* Poppins fonts */
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
  src: url("./fonts/Poppins-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
  src: url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("./fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/Poppins-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Poppins-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/Poppins-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/Poppins-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: italic;
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src: url("./fonts/Poppins-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  src: url("./fonts/Poppins-BlackItalic.ttf") format("truetype");
}

/*# sourceMappingURL=fonts.css.map */
