.check-video {
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
}

.check-video > .check-video-text {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.check-video > .check-video-text > h1:nth-child(1) {
    color: rgb(176, 176, 176);
}

.check-video > p {
    color: rgb(243, 204, 131);
}

.check-video > .thumbnails {
    display: flex;
    gap: 5%;
}

.check-video > .thumbnails > div {
    width: 33.3%;
}

.check-video .thumbnail {
    display: grid;
    place-content: center;
}

.check-video .thumbnail * {
    grid-area: 1 / 1;
}



.check-video > .thumbnails img {
	width: 100%;
}



.play-symbol {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid rgb(255, 255, 255);
    border-bottom: 25px solid transparent;
    opacity: 1;
    position: absolute;
    left: 45%;
    top: 35%;
}

.check-video button {
    position: relative;
}

.check-video .hidden {
    display: none;
    opacity: 0.7;
}

.check-video .thumbnail:hover .hidden {
    color: blue;
    display: block;
}

.check-video button {
    border: none;
    outline: none;
    cursor: pointer;
}

.check-video .thumbnail-text {
    padding: 15px;
    position: relative;
}

.check-video .thumbnail-text p:nth-child(1) {
    color: rgb(176, 176, 176);
}

.check-video .thumbnail-text p:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.check-video .thumbnail-text a {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: rgb(243, 204, 131);
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(224, 221, 221);
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

.seemore {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    gap: 5%
}

.seemore a {
    color:rgb(245, 209, 136) ;
    white-space: nowrap;
    text-decoration: none;
    border-color: orange;
    width:100%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid rgb(243, 204, 131);
}

.seemore .seemores {
    margin-top:1%;
}